nav{
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: flex-start;
    background-color: orange;
    width: 100%;
}

#div1 a{
    text-decoration: none;
    padding: 23px;
    color:black;
    margin-left: 4px;
    
}
nav a:hover{
    background-color: white;
}
#div1{
    margin-left: 23px;
   
}
#div2{
    margin-right: 32px;
    margin-left: 450px;
}
form{
    text-align: center;
}
input{
    width: 250px;
}
img{
    height: 48px;
    width: 100px;
}
h1{
    display: inline-block;
    background-color: yellowgreen;
    color: white;
    width: 250px;
}
.btn{
    background-color: green;
    color: white;
    height: 40px;
    width: 100px;
    font-weight: bold;
}
.btn:hover{
    box-shadow: 5px 5px 10px grey;
    transform: scale(1.5,1.5);
}
input{
    height: 40px;
}
.container{
    overflow:auto;
    padding-bottom: 100px;
}
footer{
    background-color: orange;
    width: 100%;
    text-align: center;
    bottom: 0px;
}
footer a{
    text-decoration: none;
}
.table{
    text-align: center;
}
#create-category-btn{
    background-color: green;
    color: white;
    margin-left: 360px;
}
#create-category-btn:hover{
    box-shadow: 5px 5px 10px grey;
    transform: scale(2,2);
}
.edit-btn{
    background-color: blue;
    color: white;
}
.delete-btn{
    background-color: red;
    color: white;
}
.table{
    width: 600px;
    text-align: center;
    margin-left: 200px;
    margin-right: 150px;
}
.grid-container{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h3{
    margin-left: 30px;
}
li:hover{
    color: white;
}
        .fa {
padding: 5px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 3px 2px;
border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white; 
margin-left: 232px;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.fa-pinterest {
background: #cb2027;
color: white;
}

.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
background: #00aff0;
color: white;
}



